.About_section {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin-bottom: 8rem;
        font-size: 1rem;
}

.About {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 80%;
        height: 26.7rem;
        gap: 1.6rem;
}

.About h1 {
        color: #7F56D9;
        font-size: 3.4rem;
        margin: 2.4rem 0;
}

.About p {
        width: 56%;
        text-align: center;
}

/*
* card color #F9FAFB
*/

.Users {
        width: 80%;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 4rem;
        flex-direction: row;
        align-items: center;

}
.Users-Card {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 13.8rem;
        background-color: #F5F6F7;
        border-radius: 1.4rem;
}

.Users-Card_image {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 20rem;
        border-radius: 1rem;
}

.Users-Card_profile {
        width: 8rem;
        height: 8rem;
        background-color: #000;
        margin: 1rem;
        border-radius: 50%;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
}

.Users-Card_name {
        font-weight: 500;
        color: #000;
}

.Users-Card_specilization {
        font-weight: 200;
        color: #6941C6;

}

.Users-Card_info {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
}

.Users-Card_icons {
        width: 100%;
        display: flex;
        justify-content: center;
        float: row;
        align-items: center;
        margin-bottom: 1.2rem;

}
.Users-Card_icon {
        width: 2rem;
        height: 2rem;
}
