.Landing {
        width: 100%;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
}
.Landing-bg_img {
        width: 100%;
        height: 100%;
        background-image: url(./landing-page.png);
        background-repeat: no-repeat;
        position: absolute;
        z-index: 100;
        text-align: center;
}
.Landing-containers {
        width: 100%;
        z-index: 200;
        color: #ffffff;
}
.Landing-containers-h1 {
        font-size: 6rem;
        margin-bottom: 2.5rem;
}
.Landing-containers-h3 {
        font-size: 2rem;
        margin-bottom: 3.4rem;
}
.Landing-containers-btn_link {
        color: #ffffff;
        background-color: #7F56D9;
        padding: 0.74rem 1.2rem;
        border-radius: 0.5rem;
}

.Landing-containers-btn_link:hover {
        background-color: #442588;
}