
/* Removes default list styles from anchor, unordered lists and list items */
a,
ul,
li {
  list-style: none;
  text-decoration: none;
}

/* Styles the main container */
.Container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: 1.7rem;
}

/* Styles the header of the container */
.Container header {
  width: 100%;
  background-image: linear-gradient(to right bottom, #7f56d998, #7f56d9c2);
  display: flex;
  justify-content: center;
}

/* Styles the container for the header elements */
.Header-Container {
  width: 80%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}

.Header-Container * a {
  color: #ffffff;
}

/* Styles the logo in the header */
.Container header img {
  height: 10vh;
  margin: 1rem;
}

/* Styles the navigation links in the header */
.Container header .Header-Container ul {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 2rem;
}

/* Styles the navigation links in the header when hovered */
.Container header .Header-Container ul li a:hover {
  color: #442588;
}

/* Styles the landing section */
.Landings {
  background-image: linear-gradient(to right bottom, #7f56d9c2, #7f56d998),
    url(../LandingPage/Images/Backgrounds/bg3.jpeg);
  background-size: cover;
  background-position: center;
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Styles the container for the content in the landing section */
.Landings-Continer {
  width: 31%;
  border-radius: 1.2rem;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
}

/* Styles the heading in the landing section */
.Landings .Landings-Continer h1 {
  color: #101828;
  font-weight: 500;
  font-size: 3.2rem;
}

/* Styles the form in the landing section */
.Landings .Landings-Continer form {
  width: 100%;
}

/* Styles the user forms */
.User_forms {
  display: flex;
  flex-direction: column;
  gap: 1.4rem;
  width: 100%;
}

/* Styles the user form */
.User_forms-User_forms {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 1rem;
}

/* Styles the label in the user form */
.User_forms-User_forms label {
  font-size: 1.4rem;
  color: #344054;
}

/* Styles the input in the user form */
.User_forms-User_forms input {
  padding: 1rem;
}

/* Styles the sections in the landing section */
.Landings-sections {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 2rem;
  width: 80%;
  margin: 3rem;
}

.User_form-btn {
  width: 100%;
}

.User_form-User_Agree .Cont {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.User_form-User_Agree .Resets {
  font-size: 1.3rem;
}

.Rester {
  flex-direction: row;
  justify-content: space-between;
}
