/**
* Container for header Navigation section
*/
.Navigation {
        width: 100%;
        display: flex;
        height: 10vh;
        align-items: center;
        flex-direction: row;
        justify-content: flex-end;
        position: absolute;
        z-index: 1000;
}

/**
* Making the container for header Navigation section.
* @Fixed: position top on scroll
*/
.Navigation.Fixed {
        background-color: #000000d6;
        transition: 0.3s ease-in-out;
        top: 0;
        position: fixed;
}

.Heading {
        width: 17%;
        height: 10vh;
        position: absolute;
        left: 0;
        margin-left: 13rem;
        opacity: 0;
}

.Heading.Logo {
        opacity: 1;
}

/**
* Container for header links in the navigation section
*/
.Navigation-links {
        padding-right: 8rem;
        list-style: none;
        display: flex;
        gap: 1rem;
}

/**
* Navigation link for the header section.
*/
.Navigation-link {
        padding-right: 1.2rem;
        color: #ffffff;
        font-size: 1.1rem;
        cursor: pointer;
}

/**
* Animated hover effect for navigation link for the header section.
*/
.Navigation-link:hover {
        color: #7F56D9;
        font-weight: 300;
}